.card {
    padding: 32px 30px;
    background-color: var(--white);
    border: 1px solid transparent;
    width: 350px;
    height: 367px;
    border-radius: 8px;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 62px;
    align-items: stretch;
}
